.aa{
    border-style: solid;
    border-width: 10px;
    border-color: aqua;}
    .a{background-color: red;}
    .b{color: blue;}
    .c{color: red;}
    .d{color: aliceblue;}
    .a1{background-color: aqua;
        color: blue;}
        .bb{background-color: darkkhaki;}
       