.a{background-color:  rgb(231, 231, 231);
    border-collapse: collapse;}
.b{background-color: green;
    color: aliceblue;
    height: 40px;
    border-radius: 8px;}
    form{background-color: rgb(231, 231, 231);
        width: 600px;;}
        .c{background-color: white;}