td{ 
    height: 25px;}
    table,tr{
        border-collapse: collapse;
    }
.g{

width: 60px !important;
    }
.a{color: blue;}
.b{background-color: yellow;}
.c{background-color: white;}
.d{background-color: orange;}